<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    @if (IsSectionDefined("Scripts"))           // if statement is  to check if section script is defined
    {
        @RenderSection("Scripts", required: true)
    }

</body>
</html>
